@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400');

:root {
    --fg: #666;
    --bg: #eee;

    --color1: #226fff;
    --color2: #6605b6;
    --color3: #c70039;
    --color4: #ff5733;
    --color5: #ffc300;
    --color6: #5fa800;
}

html,body {
    min-height: 100%;
    margin:0;
    font-size: 18px;
}
* {
    box-sizing: border-box;
}
body { 
    margin: 0; 
    color: var(--fg);
    background: var(--bg);
    background: linear-gradient(0deg, rgb(44, 44, 44) 0%, rgb(110, 110, 110) 28%, rgb(170, 170, 170) 62%);
    font-family: -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        Oxygen-Sans, 
        Ubuntu, 
        Cantarell, 
        'Helvetica Neue', 
        sans-serif;
}
.canvas__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* pointer-events: none;
    user-select: none; */
}
.canvas__container[js-labels] {
    pointer-events: none;
    user-select: none;
}
canvas { 
    width: 100%; 
    height: 100%;
}

/* SEARCH BOX */

.search {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5vh 20px;
    background: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
    /*transform: translateY(-50%);*/
    transition: all 200ms, opacity 600ms;
}
@media ( max-width: 599px ) {
    .search {
        font-size: 1.2em;
        transform: none;
    }
}
.ready .search {
    opacity: 1;
}
.search--close .search {
    top: 0;
    padding: 18px 20px;
}
.search__inner {
    position: relative;
    width: 15em;
    max-width: calc( 100vw - 40px );
    margin: 0 auto;
}
.search__label {
    display: none;
}
.search__input {
    -webkit-appearance: none;
    width: 100%;
    max-height: 3em;
    max-width: 90%;
    margin: 0;
    padding: 0.5em;
    background: transparent;
    border: none;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font: inherit;
    font-size: inherit;
    text-align: center;
    transition: max-height 200ms, opacity 200ms, color 200ms;
    outline: none;
}
.search__input::placeholder {
    color: #ccc;
}
.search--close .search__input {
    max-height: 0;
    opacity: 0;
}
.search--none .search__input {
    color: var(--color3);
    border-color: var(--color3);
}

/*  */

/* .room {
    fill: rgb(217, 217, 209);
}
.room--bookable {
    fill: rgb(98, 187, 130);
}
.room--nonbookable {
    fill: rgb(231, 193, 21);
}

.stairlift {
    fill: rgb(139, 139, 120);
}
.gate {
    fill: rgb(255, 149, 28);
} */